{# empty Twig template #}
{% extends "base.html.twig" %}
{% block body %}
    <div class="container" style="margin-top: 50px;" >
        <div class="row">
            {% if panier %}
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Produit</th>
                            <th scope="col">Prix</th>
                            <th scope="col">Quantité</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pan in panier %}
                            <tr>
                                <th scope="row">{{pan.getProId}}</th>
                                <td>{{pan.getProId.getProPrix}}</td>
                                <td>
                                    <a href="{{ path('moinsPanier', { 'id': pan.getProId.getProId }) }}" 
                                       class="btn btn-secondary {% if pan.getPanQuantite == 1 %} btn-delete {%endif%} btn-sm" > - </a> 
                                    {{pan.getPanQuantite}}
                                    <a href="{{ path('ajoutPanier', { 'id': pan.getProId.getProId }) }}" class="btn btn-secondary btn-sm" >+</a>
                                </td>
                            </tr>
                            
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
$('.btn-delete').on('click', function () {
        return confirm('Voulez vous vraiment supprimer ce produit de votre panier ?' );
    });
    </script>
{% endblock %}